@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

body {
    margin: 0;
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
}

.container {
    width: 275px;
    height: 450px;
    margin: 100px auto;
    background-color: hsl(0, 0%, 100%);
    text-align: center;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

img {
    width: 250px;
    margin: 10px auto 0 auto;
    float: left;
    border-radius: 10px;
}

h1 {
    font-size: 20px;
    margin: 20px 10px 0 10px;
}

p {
    font-size: 15px;
    margin: 25px 10px auto 10px;
    color: hsl(220, 15%, 55%);
}